* {
  margin: 0;
  padding: 0;
}

.fondo_rosa {
  background-color: #f5ebd2;
}

.link_header {
  color:#4f2414;
  font-weight: bold;
}

.counter {
  width: fit-content;
  background-color: pink;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.Productos{
    display: flex;
    width: 50px;
}
